<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <a href="/auth/discord" class="discord-button">
            <span>Connect with Discord</span>
        </a>
    </div>
</body>
</html>
